<a href="https://colab.research.google.com/github/sanjeevtrivedi/pgd-dsai/blob/main/TA_SESSION_2(BASIC)_PRACTICE_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1. Text Processing for Customer Reviews:

###Description:
You are given a dataset of customer reviews for a product.

Each review needs to be preprocessed before basic sentiment analysis.

Write a program that processes these reviews and formats them in a clean tabulated structure.

###Input:
The first line contains N, total number of reviews. The following N lines contain customer reviews in this format: "ReviewID###Review_texttimestamp@@@rating" where ### @@@ are separators between different components.

## TRY YOURSELF FIRST THEN LOOK AT THE SOLUTION!!!

In [ ]:
# example input:

product_list = [
    "P001###Laptop 15.6 inch@@@45000$$$10",
    "P002###   Wireless Mouse@@@1500$$$50",
    "P003###Mechanical Keyboard@@@3200$$$20"
]

### EXPECTED OUTPUT:

| Product ID | Product Name        | Price  | Stock |
|----------- |---------------------|--------|-------|
| P001       | laptop 15.6 inch    | 45000  | 10    |
| P002       | wireless mouse      | 1500   | 50    |
| P003       | mechanical keyboard | 3200   | 20    |

### Q1. SOLUTION:

In [ ]:
# Function to process product descriptions
def process_products(n, product_list):
    print("| Product ID | Product Name        | Price  | Stock |")
    print("|----------- |---------------------|--------|-------|")

    for product in product_list:
        # Splitting using the given separators
        product_id, rest = product.split("###")
        product_name, rest = rest.split("@@@")
        price, stock = rest.split("$$$")

        # Cleaning product name: removing extra spaces and converting to lowercase
        product_name = product_name.strip().lower()

        # Formatting and printing the output
        print(f"| {product_id:<10} | {product_name:<19} | {price:<6} | {stock:<5} |") # change around the values to play around table output format ;)

# Example input
n = 3
product_list = [
    "P001###Laptop 15.6 inch@@@45000$$$10",
    "P002###   Wireless Mouse@@@1500$$$50",
    "P003###Mechanical Keyboard@@@3200$$$20"
]

# Calling the function
process_products(n, product_list)

| Product ID | Product Name        | Price  | Stock |
|----------- |---------------------|--------|-------|
| P001       | laptop 15.6 inch    | 45000  | 10    |
| P002       | wireless mouse      | 1500   | 50    |
| P003       | mechanical keyboard | 3200   | 20    |

# Q2. Movie Ratings Processing

###Description:
You are given a list of movies with their ratings. wihout using dictionaries do the following task as explained below.

#### *example input:*
Inception - 6
Titanic - 8
Avengers - 7
Frozen - 6
Joker - 9
### Your task is to:

Extract movie names and ratings from the given data.
Convert ratings from strings to integers.
Find the highest-rated movie.
Create a list of movies with ratings above a certain threshold (e.g., 7).


## TRY YOURSELF FIRST THEN LOOK AT THE SOLUTION!!!

In [ ]:
# Function to process movie ratings
def process_movies(n, movie_data):
    movies = []  # List to store movie names
    ratings = []  # List to store ratings

    # Processing each movie record
    for record in movie_data:
        parts = record.split(" - ")  # Splitting movie name and rating
        movie_name = parts[0].strip()  # Cleaning movie name
        rating = int(parts[1].strip())  # Converting rating to integer

        movies.append(movie_name)  # Storing movie name
        ratings.append(rating)  # Storing rating

    # Finding the highest-rated movie
    max_rating = max(ratings)  # Maximum rating value
    highest_movie = movies[ratings.index(max_rating)]  # Finding corresponding movie

    # Creating a list of movies with rating 7 or above
    good_movies = []
    for i in range(n):
        if ratings[i] >= 7:
            good_movies.append(movies[i])

    # Printing results
    print("All Movies:", movies)
    print("Ratings:", ratings)
    print("\nHighest Rated Movie:", highest_movie, f"({max_rating})")
    print("\nMovies with Rating 7 or above:", good_movies)


# Example Input
n = 5
movie_data = [
    "Inception - 6",
    "Titanic - 8",
    "Avengers - 7",
    "Frozen - 6",
    "Joker - 9"
]

# Calling the function
process_movies(n, movie_data)

All Movies: ['Inception', 'Titanic', 'Avengers', 'Frozen', 'Joker']
Ratings: [9, 8, 7, 6, 9]

Highest Rated Movie: Inception (9)

Movies with Rating 7 or above: ['Inception', 'Titanic', 'Avengers', 'Joker']

### question! what if multiple movies have the same highest rating? Try to use list iterators and try to print all the highest rated movies.

# Q3. Organize Student Scores Using Dictionary Methods
###Description:
You are given the scores of three students in a test. Each student's scores are provided as a string in the format:
"StudentName###Math@@Science@@English".

###Your task is to:

1. Parse these strings and store the data in a dictionary where the keys are student names and the values are another dictionary of their subject scores.
2. Print student names and there respective math scores
3. Print student name and there all subject scores

## TRY YOURSELF FIRST THEN LOOK AT THE SOLUTION!!!

In [ ]:

lines = [
    "Alice###85@@90@@88",
    "Bob###78@@83@@80",
    "Charlie###92@@88@@91"
]

# Step 1: Parse input and store in a dictionary
scores_dict = {}
for line in lines:
    student_name, scores = line.split("###")
    math, science, english = map(int, scores.split("@@"))  # int() function is applied to all indivisual elements of the list [scores.split("@@")]
    scores_dict[student_name] = {
        "Math": math,
        "Science": science,
        "English": english,
    }

print(scores_dict)

# Step 2: Use dictionary methods
# (a) List all student names
print("Student Names:", list(scores_dict.keys()))

# (b) Display scores for a specific subject (Math)
print("\nMath Scores:")
for student, scores in scores_dict.items():
    print(f"{student}: {scores['Math']}")

# (c) Print each student's scores in a readable format
print("\nDetailed Scores:")
for student, scores in scores_dict.items():
    print(f"{student}: {scores}")

{'Alice': {'Math': 85, 'Science': 90, 'English': 88}, 'Bob': {'Math': 78, 'Science': 83, 'English': 80}, 'Charlie': {'Math': 92, 'Science': 88, 'English': 91}}
Student Names: ['Alice', 'Bob', 'Charlie']

Math Scores:
Alice: 85
Bob: 78
Charlie: 92

Detailed Scores:
Alice: {'Math': 85, 'Science': 90, 'English': 88}
Bob: {'Math': 78, 'Science': 83, 'English': 80}
Charlie: {'Math': 92, 'Science': 88, 'English': 91}

In [ ]:
a="Alice###85@@90@@88"
student_name, scores = a.split("###")
math, science, english = scores.split("@@")
print(type(math))

<class 'str'>

# **desription** about map function

**map()** is a built-in function in Python that applies a given function to all elements in an iterable (like a list or tuple) and returns an iterator with the modified results.

map(function, iterable)

1. function: The function to apply to each element.
---
2. iterable: A list, tuple, or other iterable that contains the values to process.
---

In [ ]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4]
squared_numbers = map(square, numbers)
print(list(squared_numbers))
# Output: [1, 4, 9, 16]

[1, 4, 9, 16]

1. map(square, numbers) applies the square() function to each element of numbers.
----
2. map() does not immediately return a list; it returns an iterator that generates the squared values one by one when needed.
----



 ## Q4. Set Operations for Student Clubs
 ### Description:
 You are given the membership lists of three student clubs: Math Club, Science Club, and English Club. Each list contains the names of students enrolled in the respective clubs.  Your task is to perform various set operations to find students who are members of specific combinations of clubs.

 ### Input:
 Each line represents the membership list of a club, with student names separated by commas.

 ### Output:
 Using the given club memberships, answer the following questions:

 Find the students who are part of all three clubs.

 Identify the students who are in either Math or Science Club (or both).

 List the students who are in Math Club but not in Science Club.

 Identify the students who are in Math or Science Club, but not both.

 Provide the final list of students for each case.

# Example Input:
1. Math Club members: Alice,Bob,Charlie,David
---
2. Science Club members: Bob,Eve,Charlie,Grace
---
3. English Club members: Alice,Frank,David,Grace
---

In [ ]:


# Function to process student clubs and apply set operations
def process_clubs(math_club, science_club, english_club):
    # Convert the input strings to sets
    math_set = set(math_club.split(','))
    science_set = set(science_club.split(','))
    english_set = set(english_club.split(','))

    # Perform set operations
    # 1. Students in all three clubs
    all_clubs = math_set.intersection(science_set, english_set)

    # 2. Students in either Math or Science Club
    math_or_science = math_set.union(science_set)

    # 3. Students in Math Club but not in Science Club
    math_not_science = math_set.difference(science_set)

    # 4. Students in Math or Science but not both
    math_xor_science = math_set.symmetric_difference(science_set)

    #Print results
    print("Students in all three clubs:", all_clubs)
    print("\nStudents in either Math or Science Club:", math_or_science)
    print("\nStudents in Math Club but not in Science Club:", math_not_science)
    print("\nStudents in Math or Science Club but not both:", math_xor_science)

# Example input (can be replaced with user input)
math_club_members = "Alice,Bob,Charlie,David"
science_club_members = "Bob,Eve,Charlie,Grace"
english_club_members = "Alice,Frank,David,Grace"


# Calling the function
process_clubs(math_club_members, science_club_members, english_club_members)

Students in all three clubs: set()

Students in either Math or Science Club: {'Charlie', 'Bob', 'Alice', 'David', 'Grace', 'Eve'}

Students in Math Club but not in Science Club: {'Alice', 'David'}

Students in Math or Science Club but not both: {'Alice', 'David', 'Grace', 'Eve'}